<html>
    <head>
        <title>onlinejudge</title>
    </head>
    <body>
        <div>
            <h1><a href="/">onlinejudge problems</a></h1>
        </div>
       <h2>{{ problem.title }}</h2> 
       <p>{{ problem.time_limits }}sec</p>
       <p>{{ problem.memory_limits }}MB</p>
       <p>{{ problem.text }}</p>
       <p>constraints</p>
       <p>{{ problem.constraints }}</p>
       <p>input/outputformat</p>
       <p>{{ problem.inputformat }}</p>
       <p>{{ problem.outputformat }}</p>
       <p>example1</p>
       <p>{{ problem.sampleinput1 }}</p>
       <p>{{ problem.sampleoutput1 }}</p>
       <p>example2</p>
       <p>{{ problem.sampleinput2 }}</p>
       <p>{{ problem.sampleoutput2 }}</p>
       <p>example3</p>
       <p>{{ problem.sampleinput3 }}</p>
       <p>{{ problem.sampleoutput3 }}</p>
    </body>
</html>